body, h2 {
  background-color: #F8F8F8;

}
span {
  visibility: hidden;
}
.container {
  background-color: white;
  margin: 50px;
}
.scroll-box {
  background-color: white;
  display: inline-block;
  height:750px;
  width: 95%;
  overflow: scroll;
  border: 1px solid #ccc;
  font:16px/26px Georgia Garamond, Serif;
  overflow:auto;
  float: right;
}
#chart {
  height: 0;
  position: fixed;
  width: 10%;
  padding-top: 13%; /* Important - see below */
  float:left;
}
.d3-tip {
  position: absolute;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font:14px Georgia Garamond, Serif;
}

.scaling-svg {
  position: absolute;
  top: 0;
  left: 0;
}

